
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>User List</title>
</head>
<body>

Logged as <p th:text="${currentUser}"/>

Logged as (thymeleaf) <p sec:authentication="name"/>

<a th:href="@{/logout}">Logout</a>


<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Role</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.username}"/>
    <td th:text="${user.roles}"/>
    <td> <a th:href="@{/admin/users/{username}/delete/(username=${user.username})}">delete</a> </td>
  </tr>
  </tbody>
</table>

<div>
  <a th:href="@{/messages}">Return to message board</a>
</div>



</body>
</html>