<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>

<body>

<form method="post" th:action="@{/admin/users}" th:object="${userDto}">

    <label>
        User Name:
        <input type="text" th:field="*{username}"/>
    </label>

    <label>
        User Roles:
        <input type="text" th:field="*{roles}"/>
    </label>

    <button class="btn btn-primary" type="submit">Dodaj użytkownika</button>

</form>

<div>
    <a th:href="@{/messages}">Return to message board</a>
</div>

</body>
</html>