<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<head>
    <meta charset="UTF-8">
    <title>Changing password</title>

</head>
<body>


<section class="hero is-small is-link">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Change password
            </p>
        </div>
    </div>
</section>
<section>
    <p th:text="${exceptionMessage}"/>
</section>
<div class="container has-text-left">
    Passwords not hidden at the moment for easier testing
</div>

<div class="container is-centered">
    <div class="container has-text-centered">
        <form method="post" th:action="@{/user/password}" th:object="${passwordDto}">

            <label>
                actual password:
                <input type="text" th:field="*{actualPassword}"/>
            </label>

            <label>
                new password:
                <input type="text" th:field="*{newPassword}"/>
            </label>

            <label>
                repeat new password:
                <input type="text" th:field="*{newRepeatedPassword}"/>
            </label>

            <div>
                <button class="button is-centered is-rounded is-medium" type="submit">Change password</button>
            </div>
        </form>
    </div>
</div>

<div class="container has-text-right">
    <a th:href="@{/messages}">Main page</a>
</div>

</body>
</html>